#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# IntelliJ
*.ipr
*.iml
*.iws
db-service/.idea/
api-service/.idea/
api-service/web-socket-client-python/.idea/

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/

db-service/README.md

# Local environment
api-service/*.env
db-service/*.env

# Python environment
api-service/web-socket-client-python/.venv/