{{#openApiNullable}}{{#isNullable}}JsonNullable<{{>beanValidatedType}}>{{/isNullable}}{{^isNullable}}{{>beanValidatedType}}{{/isNullable}}{{/openApiNullable}}{{^openApiNullable}}{{>beanValidatedType}}{{/openApiNullable}}