io.smallrye.mutiny.Uni<{{#returnResponse}}Response{{/returnResponse}}{{^returnResponse}}{{#returnContainer}}{{#isMap}}Map<String, {{{returnBaseType}}}>{{/isMap}}{{#isArray}}{{{returnContainer}}}<{{{returnBaseType}}}>{{/isArray}}{{/returnContainer}}{{^returnContainer}}{{^isResponseFile}}{{{returnBaseType}}}{{/isResponseFile}}{{#isResponseFile}}Response{{/isResponseFile}}{{/returnContainer}}{{/returnResponse}}>
