<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<worksheet xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main"
           xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main"
           xmlns:a14="http://schemas.microsoft.com/office/drawing/2010/main"
           xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
           xmlns:ns10="http://schemas.microsoft.com/office/excel/2008/2/main"
           xmlns:ns9="http://schemas.microsoft.com/office/excel/2006/main"
           xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
           xmlns:xdr="http://schemas.openxmlformats.org/drawingml/2006/spreadsheetDrawing"
           xmlns:xdr14="http://schemas.microsoft.com/office/excel/2010/spreadsheetDrawing"
           xmlns:xr="http://schemas.microsoft.com/office/spreadsheetml/2014/revision">
  <sheetFormatPr defaultColWidth="12" defaultRowHeight="13" outlineLevelCol="0"
                 outlineLevelRow="0" zeroHeight="false"/>
  <cols>
    <col min="6" max="6" width="20" bestFit="3"/>
    <col min="3" max="3" width="15" bestFit="2"/>
  </cols>
  <sheetData>
    <row>
      <c t="str">
        <v>Shopping mall list</v>
      </c>
    </row>
    <row>
      <c s="1" t="str">
        <v>Id</v>
      </c>
      <c s="1" t="str">
        <v>Name</v>
      </c>
      <c s="1" t="str">
        <v>Status</v>
      </c>
      <c s="1" t="str">
        <v>Lat</v>
      </c>
      <c s="1" t="str">
        <v>Lng</v>
      </c>
      <c s="1" t="str">
        <v>Hobbies</v>
      </c>
    </row>

      #set($rowNum = 3)
      #set($mergeCells = [])

      #foreach($mall in $malls)
          #set($startRow = $rowNum)
        <row>
          <c s="1" t="str">
            <v>${mall.id}</v>
          </c>
          <c s="1" t="str">
            <v>${mall.name}</v>
          </c>
          <c s="1" t="str">
            <v>${mall.operationalStatus}</v>
          </c>
          <c s="1" t="str">
            <v>${mall.location.lat}</v>
          </c>
          <c s="1" t="str">
            <v>${mall.location.lng}</v>
          </c>
          <c s="1" t="str">
            <v>
                #if($mall.hobbies.size() > 0)Id:${mall.hobbies[0].id}, Name:${mall.hobbies[0].name}#else#end
            </v>
          </c>
        </row>

          #set($rowNum = $rowNum + 1)

          #if($mall.hobbies.size() > 1)
              #foreach($hobby in $mall.hobbies.subList(1, $mall.hobbies.size()))
                <row>
                  <c s="1"/>
                  <c s="1"/>
                  <c s="1"/>
                  <c s="1"/>
                  <c s="1"/>
                  <c s="1" t="str">
                    <v>Id:${hobby.id}, Name:${hobby.name}</v>
                  </c>
                </row>
                  #set($rowNum = $rowNum + 1)
              #end
          #end

          #set($endRow = $rowNum - 1)
          #set($void = $mergeCells.add("A${startRow}:A${endRow}"))
          #set($void = $mergeCells.add("B${startRow}:B${endRow}"))
          #set($void = $mergeCells.add("C${startRow}:C${endRow}"))
          #set($void = $mergeCells.add("D${startRow}:D${endRow}"))
          #set($void = $mergeCells.add("E${startRow}:E${endRow}"))
      #end
  </sheetData>
  <mergeCells count="${mergeCells.size()}">
      #foreach($mergeCell in $mergeCells)
        <mergeCell ref="$mergeCell"/>
      #end
  </mergeCells>
</worksheet>
